{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        canvas {
            position: absolute;
        }
    </style>

    <h1>Face Detector Page</h1>
    {% if user.is_authenticated and user.is_userperuser %}

        <h2>Superuser</h2>
        <video id="video" width="720" height="560" autoplay muted></video>

    {% else %}
    {% endif %}

    <script defer src="{% static 'js/face-api.min.js' %}"></script>
    <script defer src="{% static 'js/script_detection.js' %}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock content %}