{% extends '_base.html' %}
{% load static %}
{% block title %}Test Page{% endblock title %}
{% block content %}
    <div class="container mt5 md5" style="width: 50%;">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h2>Checkin-out</h2>
                </div>
                <label for="file-face">Upload Face</label>
                <input type="file" class="form-control-file" id="file-face">
                <button class="btn btn-primary mt-2" id="button-face">Log</button>
                <hr>
                <label for="file-plate">Upload Plate</label>
                <input type="file" class="form-control-file" id="file-plate">
                <button class="btn btn-primary mt-2" id="button-plate">Log</button>
            </div>
        </div>
    </div>
    <script>
        $("#button-face").click(function () {
            console.log('Ready')
        })
    </script>
{% endblock content %}